absl-py==1.4.0
certifi==2023.7.22
charset-normalizer==3.2.0
decorator==5.1.1
etils==1.4.1
idna==3.4
importlib-resources==6.0.1
isodate==0.6.1
jsonpath-rw==1.4.0
networkx==3.1
numpy==1.25.2
pandas==2.1.0
pip==22.0.2
ply==3.11
pygraphviz==1.11
pyparsing==3.1.1
python-dateutil==2.8.2
pytz==2023.3.post1
rdflib==7.0.0
requests==2.31.0
setuptools==59.6.0
six==1.16.0
toml==0.10.2
tqdm==4.66.1
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.4
mlcroissant==0.0.1
pyarrow==13.0.0
