<!DOCTYPE html>
<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
<html>
<head>
    <title>{{ title }} - Croissant &#129360</title>
</head>
<header>
    <nav>
        <a href="./Metadata.html">Metadata</a>
        <a href="./FileObject.html">FileObject</a>
        <a href="./FileSet.html">FileSet</a>
        <a href="./RecordSet.html">RecordSet</a>
        <a href="./Field.html">Field</a>
    </nav>
    <h1>Croissant &#129360</h1>
    Croissant specifications as implemented by <code><a href="https://pypi.org/project/mlcroissant">mlcroissant</a></code>.
    <br>
    For the actual specifications, please refer to the <a href="https://mlcommons.org/croissant/1.0">Croissant 1.0 standard.</a>.
</header>
<body>
    <h3>{{ title }}</h3>
    <span>{{ documentation }}</span>
    <table>
        <tr>
            <th>Property</th>
            <th>Expected type</th>
            <th>Cardinality</th>
            <th>Description</th>
        </tr>
    {% for field in fields %}
        <tr>
            <td><a href="{{ field.url.url }}">{{ field.url.name }}</a></td>
            <td>
                {% for input_type in field.input_types %}
                <a href="{{ input_type.url }}">{{ input_type.name }}</a>
                {% endfor %}
            </td>
            <td>{{ field.cardinality }}</td>
            <td>{{ field.description }}</td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>
