<!DOCTYPE html>
<link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
<html>
<head>
    <title>{{ title }} - Croissant &#129360</title>
</head>
<header>
    <h1>Croissant &#129360</h1>
</header>
<body>
    <h3>{{ title }}</h3>
    <table>
        <tr>
            <th>Property</th>
            <th>Expected type</th>
            <th>Cardinality</th>
            <th>Description</th>
        </tr>
    {% for field in fields %}
        <tr>
            <td><a href="{{ field.url.url }}">{{ field.url.name }}</a></td>
            <td>
                {% for input_type in field.input_types %}
                <a href="{{ input_type.url }}">{{ input_type.name }}</a>
                {% endfor %}
            </td>
            <td>{{ field.cardinality }}</td>
            <td>{{ field.description }}</td>
        </tr>
    {% endfor %}
    </table>
</body>
</html>
